[user]
	email = kevin.deisz@gmail.com
	name = Kevin Deisz
	signingkey = D78C2D8FB232C59C
[alias]
	b = branch
	c = checkout
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --graph
	s = status
	snip = "!git ls-files -o | xargs -n 1 rm"
	su = submodule update .
[commit]
	gpgsign = true
[help]
	autocorrect = 1
[push]
	default = simple
[submodule]
	recurse = true
