[user]
	email = kevin.deisz@gmail.com
	name = Kevin Deisz
	signingkey = D78C2D8FB232C59C
[alias]
	s = status
	b = branch
	c = checkout
	snip = "!git ls-files -o | xargs -n 1 rm"
[push]
	default = simple
